// variables
$white: #ffffff;
$milk: #f6f6f6;
$black: #000000;
$grey: #929292;
$gold: #f0e394;
$gold-dark: #b49b52;
$orange: #fc481a;
$orange-dark: #ca3a15;
$red-dark: #b13412;
$font-PTSans: 'PT Sans', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$font-RobotoCondensed: 'Roboto Condensed', sans-serif;
$font-OpenSans: 'Open Sans', sans-serif;
$font-PTSansNarrow: 'PT Sans Narrow', sans-serif;
